.nav {
	padding: 5px;
	margin-left: 10px;
	margin-right: 100px;

}

.copy {
	text-align : center;
}

.demo {
	text-align: center;
	
}

.txt1 {
	color: black;
}

.isi {
	margin-left: 170px;
	padding: 15px;
}



